<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scnu.cloudvolunteer.dao.ServiceRecordMapper" >
  <resultMap id="BaseResultMap" type="com.scnu.cloudvolunteer.dao.pojo.ServiceRecord" >
    <id column="service_record_id" property="serviceRecordId" jdbcType="INTEGER" />
    <result column="order_service_id" property="orderServiceId" jdbcType="INTEGER" />
    <result column="volunteer_id" property="volunteerId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="serviceStatus" property="service_status" jdbcType="INTEGER" />
    <result column="work_time" property="workTime" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="MatchResultMap" type="com.scnu.cloudvolunteer.dto.MatchResultDTO">
    <result column="volunteer_id" property="volunteerId" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="INTEGER" />
    <result column="section" property="section" jdbcType="INTEGER" />
    <result column="organization" property="organization" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
  </resultMap>

  <sql id="selectAll">
    service_record_id, order_service_id, volunteer_id, user_id, service_status, work_time, update_date, create_date
  </sql>
  <sql id="base">
    <if test="orderServiceId != null">order_service_id,</if>
    <if test="volunteerId != null">volunteer_id,</if>
    <if test="userId != null">user_id,</if>
    <if test="serviceStatus != null">service_status,</if>
    <if test="workTime != null">work_time,</if>
    <if test="updateDate != null">update_date,</if>
    <if test="createDate != null">create_date,</if>
  </sql>
  <sql id="value">
    <if test="orderServiceId != null">#{orderServiceId},</if>
    <if test="volunteerId != null">#{volunteerId},</if>
    <if test="userId != null">#{userId},</if>
    <if test="workTime != null">#{workTime},</if>
    <if test="updateDate != null">#{updateDate},</if>
    <if test="createDate != null">#{createDate},</if>
  </sql>

  <sql id="updateSelect">
    <if test="orderServiceId != null">order_service_id = #{orderServiceId},</if>
    <if test="volunteerId != null">volunteer_id = #{volunteerId},</if>
    <if test="userId != null">user_id = #{userId},</if>
    <if test="serviceStatus != null">service_status = #{serviceStatus},</if>
    <if test="workTime != null">work_time = #{workTime},</if>
    <if test="updateDate != null">update_date = #{updateDate},</if>
    <if test="createDate != null">create_date = #{createDate},</if>
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_record
    where service_record_id = #{serviceRecordId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.scnu.cloudvolunteer.dao.pojo.ServiceRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="serviceRecordId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into service_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="base"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="value"/>
    </trim>
  </insert>

  <insert id="insertBatch" parameterType="java.util.List" >
    <selectKey resultType="java.lang.Integer" keyProperty="serviceRecordId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into service_record
    (
        order_service_id, volunteer_id, user_id,
        service_status, work_time, update_date, create_date
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        #{item.orderServiceId},#{item.volunteerId},#{item.userId},
        #{item.serviceStatus},#{item.workTime},#{item.updateDate},#{item.createDate}
      </trim>
    </foreach>
  </insert>

  <update id="updateBySelected" parameterType="com.scnu.cloudvolunteer.dao.pojo.ServiceRecord" >
    update service_record
    <set>
      <include refid="updateSelect"/>
    </set>
    where service_record_id = #{serviceRecordId,jdbcType=INTEGER}
  </update>

  <update id="addWorkTimeByServiceId">
    update service_record
    set work_time = work_time + #{1}
    where service_record_id = #{0}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="selectAll"/>
    from service_record
    where service_record_id = #{serviceRecordId,jdbcType=INTEGER}
  </select>

  <select id="selectMatchVolunteer" resultMap="MatchResultMap" parameterType="com.scnu.cloudvolunteer.dto.ServiceMatchDTO" >
    select v.volunteer_id, v.subject, v.`section`, v.organization, COUNT(*) num from service_record s right join
        (select volunteer_id, organization from volunteer where subject &gt;= #{subject}
        and `section` &gt;= #{section} and service_time = #{serviceTime}) v
        on s.volunteer_id = v.volunteer_id
        where s.service_status = 1
        GROUP BY s.volunteer_id HAVING COUNT(*) &lt; #{maxServiceNum}
        ORDER BY num, s.volunteer_id asc LIMIT #{offset}, #{limitNum}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="selectAll"/>
    from service_record
  </select>
</mapper>