<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scnu.cloudvolunteer.dao.ServiceRecordMapper" >
  <resultMap id="BaseResultMap" type="com.scnu.cloudvolunteer.dao.pojo.ServiceRecord" >
    <id column="service_record_id" property="serviceId" jdbcType="INTEGER" />
    <result column="order_service_id" property="orderServiceId" jdbcType="INTEGER" />
    <result column="volunteer_id" property="volunteerId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="serviceStatus" property="serviceStatus" jdbcType="INTEGER" />
    <result column="work_time" property="workTime" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="MatchResultMap" type="com.scnu.cloudvolunteer.dto.MatchResultDTO">
    <result column="volunteer_id" property="volunteerId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="VolunteerServiceRecord" type="com.scnu.cloudvolunteer.dao.pojo.VolunteerServiceRecord">
    <id column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" javaType="TIMESTAMP"/>
    <result column="update_data" property="updateDate" javaType="TIMESTAMP"/>
    <!--User标签-->
    <association property="user" column="user_id" resultMap="UserInfoResultMap" javaType="com.scnu.cloudvolunteer.dao.pojo.User"></association>
  </resultMap>

  <resultMap id="UserInfoResultMap" type="com.scnu.cloudvolunteer.dao.pojo.User">
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_role" property="role" jdbcType="INTEGER" />
    <result column="user_parent_name" property="parentName" jdbcType="VARCHAR" />
    <result column="user_name" property="name" jdbcType="VARCHAR" />
    <result column="user_sex" property="sex" jdbcType="INTEGER" />
    <result column="user_section" property="section" jdbcType="INTEGER" />
    <result column="user_grade" property="grade" jdbcType="INTEGER" />
    <result column="user_address" property="address" jdbcType="VARCHAR" />
    <result column="user_wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="user_phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="UserServiceRecord" type="com.scnu.cloudvolunteer.dao.pojo.UserServiceRecord">
    <id column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" javaType="TIMESTAMP"/>
    <result column="update_data" property="updateDate" javaType="TIMESTAMP"/>
    <result column="servic_status" property = "serviceStatus" javaType="INTEGER"/>
    <!--Volunteer标签-->
    <association property="volunterr" column="volunteer_id" resultMap="VolunteerInfoResultMap" javaType="com.scnu.cloudvolunteer.dao.pojo.User"></association>
  </resultMap>

  <resultMap id="VolunteerInfoResultMap" type="com.scnu.cloudvolunteer.dao.pojo.Volunteer">
    <id column="volunteer_id" property="volunteerId" jdbcType="INTEGER" />
    <result column="volunteer_status" property="status" jdbcType="INTEGER" />
    <result column="volunteer_role" property="role" jdbcType="INTEGER" />
    <result column="volunteer_name" property="name" jdbcType="VARCHAR" />
    <result column="volunteer_sex" property="sex" jdbcType="INTEGER" />
    <result column="volunteer_total_work_time" property="totalWorkTime" jdbcType="INTEGER" />
    <result column="volunteer_organization" property="organization" jdbcType="INTEGER" />
    <result column="volunteer_college" property="college" jdbcType="VARCHAR" />
    <result column="volunteer_major" property="major" jdbcType="VARCHAR" />
    <result column="volunteer_grade" property="grade" jdbcType="INTEGER" />
    <result column="volunteer_stu_no" property="stuNo" javaType="VARCHAR"/>
    <result column="volunteer_subject" property="subject" javaType="INTEGER"/>
    <result column="volunteer_section" property="section" javaType="INTEGER"/>
    <result column="volunteer_experience" property="experience" javaType="INTEGER"/>
    <result column="volunteer_service_time" property="serviceTime" javaType="INTEGER"/>
    <result column="volunteer_speciality" property="speciality" javaType="VARCHAR"/>
    <result column="volunteer_wechat" property="wechat" javaType="VARCHAR"/>
    <result column="volunteer_phone" property="phone" javaType="VARCHAR"/>
    <result column="volunteer_remark" property="remark" javaType="VARCHAR"/>
  </resultMap>

  <sql id="selectAll">
    service_record_id, order_service_id, volunteer_id, user_id, service_status, work_time, update_date, create_date
  </sql>
  <sql id="base">
    <if test="orderServiceId != null">order_service_id,</if>
    <if test="volunteerId != null">volunteer_id,</if>
    <if test="userId != null">user_id,</if>
    <if test="serviceStatus != null">service_status,</if>
    <if test="workTime != null">work_time,</if>
    <if test="updateDate != null">update_date,</if>
    <if test="createDate != null">create_date,</if>
  </sql>
  <sql id="value">
    <if test="orderServiceId != null">#{orderServiceId},</if>
    <if test="volunteerId != null">#{volunteerId},</if>
    <if test="userId != null">#{userId},</if>
    <if test="workTime != null">#{workTime},</if>
    <if test="updateDate != null">#{updateDate},</if>
    <if test="createDate != null">#{createDate},</if>
  </sql>

  <sql id="updateSelect">
    <if test="orderServiceId != null">order_service_id = #{orderServiceId},</if>
    <if test="volunteerId != null">volunteer_id = #{volunteerId},</if>
    <if test="userId != null">user_id = #{userId},</if>
    <if test="serviceStatus != null">service_status = #{serviceStatus},</if>
    <if test="workTime != null">work_time = #{workTime},</if>
    <if test="updateDate != null">update_date = #{updateDate},</if>
    <if test="createDate != null">create_date = #{createDate},</if>
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_record
    where service_record_id = #{serviceRecordId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.scnu.cloudvolunteer.dao.pojo.ServiceRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="serviceRecordId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into service_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="base"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="value"/>
    </trim>
  </insert>

  <update id="updateBySelected" parameterType="com.scnu.cloudvolunteer.dao.pojo.ServiceRecord" >
    update service_record
    <set>
      <include refid="updateSelect"/>
    </set>
    where service_record_id = #{serviceRecordId,jdbcType=INTEGER}
  </update>

  <update id="updateStatusById" parameterType="java.lang.Integer" >
    update service_record
    set service_status = #{status}
    where service_record_id = #{serviceRecordId,jdbcType=INTEGER}
  </update>

  <update id="addWorkTimeByServiceId" parameterType="java.lang.Integer" >
    update service_record
    set work_time = work_time + #{addWorkTime}
    where service_record_id = #{serviceRecordId,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="selectAll"/>
    from service_record
    where service_record_id = #{serviceRecordId,jdbcType=INTEGER}
  </select>

  <select id="selectMatchVolunteer" resultMap="MatchResultMap" parameterType="com.scnu.cloudvolunteer.dto.ServiceMatchDTO" >
    select v.volunteer_id, v.organization, COUNT(*) num from service_record s right join
        (select volunteer_id, organization from volunteer where subject = #{subject} and
            `section` = #{section} and service_time = #{serviceTime}) v
        on s.volunteer_id = v.volunteer_id
        where s.service_status = 1
        GROUP BY s.volunteer_id HAVING COUNT(*) &lt; #{maxServiceNum}
        ORDER BY num, s.volunteer_id asc LIMIT #{limitNum}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="selectAll"/>
    from service_record
  </select>

  <select id="selectByUserId" resultType="com.scnu.cloudvolunteer.dao.pojo.UserServiceRecord">
    select
      table_a.service_id as service_id,
      table_a.create_date as create_date,
      table_a.update_date as update_date,
      service_status,
      table_a.volunteer_id as volunteer_id,
      `status` as volunteer_status,
      `role` as volunteer_role,
      `name` as volunteer_name,
      sex as volunteer_sex,
      total_work_time as volunteer_total_work_time,
      organization as volunteer_organization,
      college as volunteer_college,
      major as volunteer_major,
      grade as volunteer_grade,
      stu_no as volunteer_stu_no,
      `subject` as volunteer_subject,
      `section` as volunteer_section,
      experience as volunteer_experience,
      service_time as volunteer_service_time,
      speciality as volunteer_speciality,
      wechat as volunteer_wechat,
      phone as volunteeer_phone,
      remark as volunteer_remark
      from
      (
		(SELECT
			service_id,
			table_x.order_service_id as order_service_id,
			volunteer_id,
			user_id,
			update_date,
			create_date,
			service_status
         from
        (select * from service where user_id = #{userId}) as table_x
        left join
        (select order_service_id, service_status from order_service) as table_y
        on table_x.order_service_id = table_y.order_service_id)as table_a
	    left join
	    (select * from volunteer) as table_b
	    on table_a.volunteer_id = table_b.volunteer_id
        )
  </select>

  <select id="selectByVolunteerId" resultType="com.scnu.cloudvolunteer.dao.pojo.VolunteerServiceRecord">
   select
    service_id,
    create_date,
    update_date,
    table_b.user_id,
    `role` as user_role,
    parent_name as user_parent_name,
    `name` as user_name,
    sex as user_sex,
    section as user_section,
    grade as user_grade,
    address as user_address,
    wechat as user_wechat,
    phone as user_phone
    from
    (select *
    from service
    where volunteer_id = #{volunteerId}) as table_a
    left join
    (select user_id, `role`,parent_name, `name`, sex, section, grade, address, wechat, phone
    from user) as table_b
    on table_a.user_id = table_b.user_id
  </select>

</mapper>